:root {
    --primary: rgb(255, 115, 0);
}

.btn {
    /* padding: 0px; */
    padding: 2rem;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    display: flex;
    white-space: nowrap;
    text-decoration: none;
}

.btn--primary {
    font-weight: bold;
    border-radius: 30px;
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    width: 120px;
    height: 45px;

}

.btn--outline {
    background-color: rgb(255, 115, 0);
    color: #242424;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    border-radius: 10px;
    width: 140px;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 1.3rem;
}

.btn--large {
    padding: 12px 26px;
    font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
    background: transparent;
    color: rgb(255, 115, 0);
    transition: all 0.3s ease-out;
}